.on-the-side {
  border-top: solid 1px #e8e8e8;
  width: 33%;
  min-width: 300px;
  /*display: inline-block;*/
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px !important;
  position: relative;
  float: left;
}

.tab-open {
  width: 67%;
  max-width: 67%;
  overflow: hidden;
  position: relative;
  float: left;
}

.no-tab-open {
  border-top: solid 1px #e8e8e8;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px !important;
  position: relative;
  float: left;
}
.wrapper {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
  width: 100%;
}

