<div class="row">
  <div class="no-padding"  style="width: 100%" [ngClass]="{'col-sm-5': selected || writing, 'col-sm': !selected && !writing}">
    <app-list-of-emails [trigger]="selected"></app-list-of-emails>
  </div>
  <div class="no-padding" [ngClass]="{'col-sm-7': selected}">
    <app-mail-view *ngIf="selectedMail" [mail]="selectedMail"></app-mail-view>
  </div>
  <div class="no-padding" [ngClass]="{'col-sm-7': writing}" >
    <app-mail-form *ngIf="writing" ></app-mail-form>
  </div>
</div>
