<p mat-dialog-description>{{description}}</p>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="confirm()">
  <mat-form-field>
    <mat-label>Czas w godzinach:</mat-label>
    <mat-select formControlName="time">
      <mat-option *ngFor="let h of hours" [value]="h">
        {{ h }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('time').hasError('required')">
      Wybierz liczbę godzin!
    </mat-error>
  </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button id="btn-no" class="btn" (click)="close()">ANULUJ</button>
  <button mat-raised-button id="btn-yes" [disabled]="form.invalid" class="btn" (click)="confirm()">OK</button>
</mat-dialog-actions>
