.sidebar-menu {
  margin-top: 50px;
}
ul li {
  list-style: none;
  display: list-item;
  position: relative;
}
ul {
  padding-left: 0px;
  margin-left: 0px;
}

.centered {
  text-align: center;
}

.main-menu-button {
  width: 100%;
  height: 75px;
  background-color: transparent;
  border: none;
  text-align: left;
  color: #dedede;
  padding: 12px 20%;
  font-size: 14px;
  display: block;
  transition: all 0.30s ease;
}

.main-menu-button:hover {
  background-color: #8A2BE2;
  background-image: linear-gradient(90deg, #8a2be2, #df54df);
}

.main-menu-button:focus {
  border-style: none;
  box-shadow: none;
  outline: none;
}

.counter {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  color: whitesmoke;
}

.counter-text {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  margin: 0 0 0 0;
  padding-top: 10px;
  background-color: transparent;
  font-size: 18px;
}

#clock {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
