<div class="reload-button" (click)="onFetch()">
  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" class="bi bi-arrow-clockwise"
       viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
  </svg>
  <div *ngIf="refreshing">Odświeżono</div>
</div>
<div class="table-div scrollbar-primary">
  <div class="alert alert-danger" *ngIf="error">
    <p>{{ error }}</p>
  </div>
  <div class="alert alert-dark" *ngIf="error == null && messages.length == 0">
    <p>Brak wiadomości do wyświetlenia...</p>
  </div>
  <div *ngFor="let message of messages" class="message-row">
    <div id="select" class="checkbox-div">
      <input type="checkbox" class="mail-checkbox">
    </div>
    <div (click)="onSelected(message)" [ngClass]="{ 'selected-message' : this.selectedMessage == message}"
         class="row-content">
      <div id="info" class="message-info">
        <div id="sender" class="sender">
          {{ message.sender }}
        </div>
        <div id="topic" class="topic">
          {{ message.topic }}
        </div>
      </div>
      <div id="date" class="date">
        {{ message.date }}
      </div>
    </div>
    <div [ngClass]="{ 'arrow-selected' : this.selectedMessage == message}" class="arrow-wrapper">
      <div class="arrow-right"></div>
    </div>
  </div>
</div>
<!--
<div class="inbox-wrap scrollbar-primary">
<table class="force-overflow table table-hover table-inbox borderless">
  <tbody>
  <tr *ngFor="let message of messages">
    <td class="small-cell">
      <input type="checkbox" class="mail-checkbox">
    </td>
    <td class="td-address" [ngClass]="{'new-message': message.seen === false}" (click)="onSelected(message)">{{ message.sender }}</td>
    <td [ngClass]="{'new-message': message.seen === false}" (click)="onSelected(message)">{{ message.topic }}</td>
    <td class="td-date" [ngClass]="{'new-message': message.seen === false}" (click)="onSelected(message)"> {{ message.date }}</td>
  </tr>
  </tbody>
</table>
</div> -->

