<div class="login-page">
  <!--<div class="alert alert-danger" [hidden]="!error">
    There was a problem logging in. Please try again.
  </div> -->
    <div class="box row">
        <div class="form col">
            <div class="header">
                <div class="register-header">
                    <h3>UTWÓRZ KONTO</h3>
                    <p>Podaj swój nowy tymczasowy adres email oraz hasło</p>
                </div>
            </div>
            <form name="form" class="auth-form" #authForm="ngForm" (ngSubmit)="login()" novalidate>
                <div class="form-group">
                    <label for="email">E-Mail:</label>
                    <input type="email" name="email" id="email" class="form-control" [(ngModel)]="credentials.username" #email="ngModel"  required/>
                </div>
                <div class="form-group">
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" class="form-control" name="password" [(ngModel)]="credentials.password" #password="ngModel" required
                        minlength="6" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" >
                        {{ isLoginMode ? 'Zaloguj' : 'Utwórz konto'}}
                    </button>
                    <p class="message" (click)="onSwitchMode()">
                        {{ isLoginMode ? 'Nie masz konta? Utwórz je! ' : 'Masz już konto?'}}</p>
                </div>
            </form>
        </div>
        <div class="greetings col">
            <img class="ghost" src="assets/ghost-03.png" alt="Boo">
        </div>
    </div>
</div>
