
<form role = "form">
<div class="row">
    <div class = "col-md">
        <input type = "text" class = "form-control" id = "address" placeholder = "Adresat">
    </div>
</div>
<div class="row">
    <div class = "col-md">
        <input type = "text" class = "form-control" id = "topic" placeholder = "Temat">
    </div>
</div>
<div class="row">
    <div class="col-md">
        <textarea class="form-control" id="textArea" rows="10" placeholder="Hello..."></textarea>
    </div>
</div>
</form>

<button (click)="onSend()">Wyślij</button>